In [2]:
import pandas as pd

movies = pd.read_csv("ml-25m/movies.csv")
print(movies)

import re 
def clean_title(title):  #need to clean results to get rid of any extra characters such as parenthesis etc 

    return re.sub("[^a-zA-Z0-9 ]", "", title) # removes everything that isnt a lowercase/upper case or number/space


movies["clean_title"] = movies["title"].apply(clean_title)
print(movies)


from sklearn.feature_extraction.text import TfidfVectorizer 

vectorizer = TfidfVectorizer(ngram_range=(1, 2)) # instead of individually searching for a word, searches for pairs.

tfidf = vectorizer.fit_transform(movies["clean_title"])

#to compute the similarity between two titles  

from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    #find similarity with all titles in data and search term
    similarity = cosine_similarity(query_vec, tfidf).flatten()

    #titles that have the greatest similarity to our search term 
    indices  = np.argpartition(similarity, -5)[-5:]

    results = movies.iloc[indices][::-1]
    return results

import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value= "Toy Story",
    description = "Movie Title:",
    disabled = False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names= 'value')

display(movie_input, movie_list)

       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
62418                                        Drama
62419                                  Documentary
62420                                 Comedy|Drama
62421                           (no genres listed)
62422                       Action|Adventure|Drama

[62423 rows x 3 columns]
       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

                                            genres  \
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
62418                                        Drama
62419                                  Documentary
62420                                 Comedy|Drama
62421                           (no genres listed)
62422                       Action|Adventure|Drama

                            clean_title
0                        Toy Story 1995
1                          Jumanji 1995
2                 Grumpier Old Men 1995
3                Waiting to Exhale 1995
4      Father of the Bride Part II 1995
...                                 ...
62418                           We 2018
62419           Window of the Soul 2001
62420                    Bad Poems 2018
62421                 A Girl Thing 2001
62422       Women of Devils Island 1962

[62423 rows x 4 columns]

Text(value='Toy Story', description='Movie Title:')

Output()

In [3]:

#finding users who liked the same movie

ratings = pd.read_csv("ml-25m/ratings.csv")

ratings.dtypes

movie_id = 1
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >= 5 )]["userId"].unique()


#finds users that liked the same movie as search input
similar_users_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
similar_users_recs

5101           1
5105          34
5111         110
5114         150
5127         260
            ...
24998388    3706
24998389    3735
24998391    3763
24998392    4187
24998393    4321
Name: movieId, Length: 912084, dtype: int64

In [4]:
similar_users_recs= similar_users_recs.value_counts() / len(similar_users)

similar_users_recs= similar_users_recs[similar_users_recs > .1]

similar_users_recs

1       1.000000
318     0.414556
260     0.404561
356     0.347253
296     0.342663
          ...
1259    0.102991
7361    0.101881
1206    0.101362
1307    0.101066
1208    0.100918
Name: movieId, Length: 92, dtype: float64

In [5]:
#how much do all users in our dataset like these movies.

all_users = ratings[(ratings["movieId"].isin(similar_users_recs.index)) & (ratings["rating"] >4)]
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

all_users_recs

318      0.345282
296      0.287220
2571     0.246217
356      0.237370
593      0.227930
           ...
1387     0.047886
1307     0.046195
745      0.037362
78499    0.035445
2355     0.025316
Name: movieId, Length: 92, dtype: float64

In [6]:
rec_percentages = pd.concat([similar_users_recs, all_users_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

rec_percentages

       similar       all
1     1.000000  0.125844
318   0.414556  0.345282
260   0.404561  0.224195
356   0.347253  0.237370
296   0.342663  0.287220
...        ...       ...
1259  0.102991  0.049349
7361  0.101881  0.105172
1206  0.101362  0.087500
1307  0.101066  0.046195
1208  0.100918  0.083250

[92 rows x 2 columns]

In [7]:
rec_percentages["score"] = rec_percentages["similar"]/ rec_percentages["all"]
rec_percentages = rec_percentages.sort_values("score", ascending= False)
rec_percentages

        similar       all     score
1      1.000000  0.125844  7.946323
3114   0.295498  0.054186  5.453383
2355   0.124685  0.025316  4.925186
78499  0.138161  0.035445  3.897906
588    0.233674  0.068117  3.430480
...         ...       ...       ...
58559  0.160743  0.147779  1.087725
79132  0.129424  0.132559  0.976349
7361   0.101881  0.105172  0.968704
2959   0.205020  0.218656  0.937638
4973   0.104694  0.113410  0.923146

[92 rows x 3 columns]

In [8]:
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.125844,7.946323,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.295498,0.054186,5.453383,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.124685,0.025316,4.925186,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.138161,0.035445,3.897906,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
580,0.233674,0.068117,3.430480,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
587,0.198949,0.060514,3.287671,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
33,0.158226,0.052696,3.002602,34,Babe (1995),Children|Drama,Babe 1995
4780,0.210647,0.071444,2.948410,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
1047,0.143418,0.049202,2.914882,1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical,Willy Wonka the Chocolate Factory 1971
729,0.108322,0.037362,2.899227,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy,Wallace Gromit A Close Shave 1995

In [9]:
def find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >= 5 )]["userId"].unique()


    #finds users that liked the same movie as search input
    similar_users_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    
    
    
    similar_users_recs = similar_users_recs.value_counts() / len(similar_users)
    similar_users_recs = similar_users_recs[similar_users_recs> .10]

    all_users = ratings[(ratings["movieId"].isin(similar_users_recs.index)) & (ratings["rating"] >4)]
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())


    rec_percentages = pd.concat([similar_users_recs, all_users_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]

    
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

    rec_percentages = rec_percentages.sort_values("score", ascending= False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]



movie_input_name = widgets.Text(

    value = "Toy Story",
    description = "Movie Title:",
    disabled = False
)

recommendation_list  = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title)> 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_input_name.observe(on_type, names= "value")

display(movie_input_name, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()